<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key = "EndpointProxyIP" value="10.23.60.205" />
    <add key = "EndpointProxyPort" value="8001" />
    <add key = "ErrorCodeDenyInvite" value="600" />
  </appSettings>
</configuration>